@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nkosana Mavundla
    </address>

    <address>
        <strong>Contact:</strong>   <a href="mailto:ST10434391@imconnect.edu.za">ST10434391@imconnect.edu.za</a><br />
       
    </address>
</main>